<!DOCTYPE html>
<html>
    <head>
        <title>Menu del primer Taller</title>
        <link rel="stylesheet" href="/grupo16/css/menu.css">
    </head>

    <body id="dummybodyid">
        <h1 class="center">Menú</h1>

        <!--Descripcion del proyecto-->  
        <div class="justify">
            <p>El presente trabajo es para presentar los temas vistos como html, css, js, thymeleaf, etc... en el primer taller del curso, así que puedes darle click a alguna de las opciones del menú.</p>
        </div>

        <!--Pequeño menu-->
        <header>
            <nav>
                <ul>
                    <li><a href="/grupo16/form/paginaPresentacion.html">Página principal</a></li>
                    <li><a href="/grupo16/form/formulario.html">Formulario para contactarnos</a></li>
                    <li><a href="/grupo16/form/gracias.html">Gracias</a></li>
                    <li><a href="/grupo16/form/wiki.html">Wiki</a></li>
                </ul>
            </nav>
        </header>
    </body>
</html>
