<!DOCTYPE html>
<html>

    <head>
        <title>Pagina De Presentacion</title>
        <link rel="stylesheet" href="/grupo16/css/pagina1.css">
    </head>

    <body id = "dummybodyid" style="font-family: 'Helvetica';">
        <!--PAGINA PRINCIPAL-->

        <h1> Taller 1 Web</h1>
        <h2> Presentación del grupo </h2>
        <h3> Nombre del grupo: Papaito </h3>

        <p>Lista de integrantes:</p>
      
          <div class="member-card">
        <h3 class="member-name">Kevin Jaimes Carrillo</h3>
        <p class="member-role">Rol: Especialista en Seguridad Web, Gerente de Proyecto</p>
        <p class="member-role">Lenguajes de Programacion: Java, Python </p>
        <p class="member-role">Perfil tecnico: Una persona inspiradora, mantiene una imagen de lider y siempre está dispuesto a ayudar</p>
          </div>
                <div class="member-card">
        <h3 class="member-name">Luisa Vargas</h3>
        <p class="member-role">Rol: Administrador de Sistemas/DevOps, Diseñador Web</p>
        <p class="member-role">Lenguajes de Programacion: Java, Python</p>
        <p class="member-role">Perfil tecnico: Persona optimista, con grandes ideas, uno de sus pilares es la autodeterminación y la manera sencilla y ordena de arreglar las cosas</p>
          </div>
                </div>
                <div class="member-card">
        <h3 class="member-name">Alanis Forero</h3>
        <p class="member-role">Rol: Desarrollador Back-End, Desarrollador Front-End</p>
        <p class="member-role">Lenguajes de Programacion: Java, Python</p>
        <p class="member-role">Perfil tecnico: Una persona capaz de adaptarse a cualquier rol, marcando idea consisas y exactas, buena compañera de equipo y un ser empatico</p>
          </div>

        <a href="/grupo16/form/menu" class="button button1">Atrás</a>

    </body>
</html>