<!DOCTYPE html>
<html>
<head>
    <title>Taller de Desarrollo Web - Wiki</title>
    <link rel="stylesheet" href="/grupo16/css/wiki.css">
</head>
<body>
    <header>
    </header>

    <section id="wiki">
        <h2>Detalles del Taller</h2>
        <p>Esta sección contiene una explicación detallada del taller, incluyendo el progreso y los requerimientos.</p>
        <p>Es un proyecto de desarrollo de software basado en Java, utilizando Maven para la gestión de dependencias y construcción del proyecto. Este proyecto incluye la configuración para desplegar la aplicación en contenedores Docker, lo cual indica una arquitectura orientada a microservicios o despliegues escalables. Además, la presencia de archivos relacionados con Kubernetes sugiere que el proyecto está diseñado para ser desplegado y gestionado en un entorno de orquestación de contenedores, lo que permite una mayor escalabilidad y eficiencia en la gestión de recursos. La estructura del proyecto y los archivos incluidos sugieren un enfoque en prácticas modernas de desarrollo y despliegue de aplicaciones, así como una preocupación por la escalabilidad y la gestión eficiente de la infraestructura.</p>
        <h3>Temas Importantes Vistos</h3>
        <ul>
            <li>- HTML</li>
            <li>- CSS</li>
            <li>- JavaScript</li>
            <li>- Thymeleaf para el despliegue</li>
            <li>- Spring</li>
            <li>- Conexión con Base de Datos</li>
        </ul>
    </section>

    <section id="principal">
        <h1>Información del Grupo</h1>
        <p>Aquí se presenta la información del grupo, incluyendo el nombre y detalles de cada integrante.</p>
	    <h3>Aparte se nombran cosas como:</h3>
        <ul>
            <li>- Nombre</li>
            <li>- Rol</li>
            <li>- Habilidades</li>
            <li>- Diseño de la pagina</li>
        </ul>
        
    </section>

    <section id="formulario">
        <h2>Formulario de Contacto</h2>
        <p>Formulario para que los usuarios puedan contactarse con nosotros. Las entradas son validadas para asegurar la calidad de la información.</p>
	    <h3>Contiene cosas como:</h3>
        <ul>
            <li>- Nombre</li>
            <li>- Apellido</li>
            <li>- Descripcion</li>
            <li>- Correo</li>
        </ul>
    </section>


    <section id="gracias">
        <h2>Agradecimientos</h2>
        <p>Página dedicada a agradecer a las personas por su tiempo y atención.</p>
        <p>Pagina especial<p>
    </section>

    <section id="requisitos">
        <h2>Requisitos Funcionales</h2>
        <ul>
            <h3>- Presentación del Grupo:</h3>
                <p>Página dedicada a mostrar el equipo.</p>
            <h3>- Formulario de Contacto</h3>
                <p>Campos para nombre, correo electrónico, mensaje y un botón de envío.</p>
                <p>Validación de todos los campos en el lado del cliente para verificar que no estén vacíos.</p>
                <p>Validación adicional en el correo electrónico para asegurar un formato correcto.</p>
                <p>Mensaje de confirmación o error después del envío del formulario.</p>
            <h3>- Conexión con la Base de Datos:</h3>
                <p>Almacenamiento de las consultas del formulario en la base de datos proporcionada por el profesor.</p>
                <p>Garantizar la seguridad de los datos mediante la sanitización de entradas para prevenir inyecciones SQL.</p>
            <h3>- Sección Wiki:</h3>
                <p>Descripción detallada del proceso de desarrollo, tecnologías utilizadas y desafíos encontrados.</p>
                <p>Incluir enlaces a recursos o documentación relevante.</p>
	        <h3>- Página de Agradecimientos:</h3>
		        <p>Espacio para agradecer a los colaboradores y participantes.</p>
	        <h3>- Navegación:</h3>
		        <p>Un menú de navegación eficiente y fácil de usar que conecte todas las secciones de la página.</p>
        </ul>
	<ul>
	    <h2>Requisitos No Funcionales </h2>
            <h3>- Usabilidad:</h3>
        	    <p>Diseño intuitivo y fácil de usar, adecuado para todos los usuarios, independientemente de su experiencia técnica.</p>
		        <p>Compatibilidad con diferentes tamaños de pantalla y dispositivos (responsive design).</p>
            <h3>- Rendimiento</h3>
        	    <p>Tiempos de carga rápidos para todas las páginas y recursos.</p>
		        <p>Optimización de imágenes y scripts para mejorar la velocidad.</p>
	        <h3>- Seguridad:</h3>
		        <p>Implementar medidas de seguridad para proteger la página de ataques comunes como XSS y CSRF.</p>
		        <p>Asegurar la transmisión de datos del formulario mediante HTTPS.</p>
	        <h3>- Accesibilidad</h3>
		        <p>Cumplir con las pautas de accesibilidad web WCAG para asegurar que la página sea accesible para personas con discapacidades.</p>
	        <h3>- Despliegue y Mantenimiento:</h3>
                <p>La página debe estar correctamente desplegada en una plataforma accesible públicamente.</p>
                <p>Documentación adecuada para el mantenimiento y actualizaciones futuras.</p>
	</ul>

    <h1> Primera Entrega Proyecto</h1>
    <h1> ARRIENDA TU FINCA</h1>

    <h2> Diagramas </h2>
    <h3> Modelo Entidad Relacion</h3>
  
    <table>
        <tr>
            <td>
                <img src="/grupo16/imagenes/modeloEntidadRelacion.jpg" id="Modelo">
            </td>
            <td>
                <h4>Descripcion</h4>
                <p>Modelo Entidad Relacion, esta herramienta permite representar de manera simplificada como personas objetos o conceptos se relacionan entre si</p>
                <h3>¿Qué podras encontrar en este modelo? </h3>
                <ul>
                    <li>Arrendador</li>
                    <li>Arrendatario</li>
                    <li>Propiedad</li>
                    <li>Solicitudes</li>
                    <li>Estado Solcitud</li>
                    <li>Tipo de ingreso</li>
                </ul>  
                  
            </td>
        </tr>
    </table>
    
    

    <footer>
        <p>&copy; 2024 Grupo de Desarrollo Web</p>
    </footer>

    <a href="/grupo16/form/menu" class="button button1">Atrás</a>
</body>
</html>
